<mat-toolbar>
  <mat-toolbar-row>
    <span>Map demo</span>
    <span class="toolbar-spacer"></span>
    <button (click)="toggleNav.emit()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button (click)="addLayer()" mat-flat-button color="primary">
      Add layer
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngFor="let layer of layers" class="layer-info-card">
  <mat-card-title>
    {{ layer.tile.name }}
  </mat-card-title>
  <mat-card-content>
    <mat-form-field class="layer-form-field">
      <mat-label>Scheme</mat-label>
      <mat-select
        [value]="layer.scheme"
        (selectionChange)="updateLayer(layer, 'scheme', $event.value)"
      >
        <mat-option *ngFor="let scheme of options.schemes" [value]="scheme">
          {{ scheme }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <p class="opacity-text">Opacity</p>
    <p class="opacity-value">{{ layer.opacity }}</p>
    <mat-slider
      [max]="100"
      [min]="0"
      [step]="1"
      [thumbLabel]="true"
      [value]="layer.opacity"
      (change)="updateLayer(layer, 'opacity', $event.value)"
      class="opacity-slider"
    >
    </mat-slider>
  </mat-card-content>
  <mat-card-actions>
    <button (click)="removeLayer(layer)" mat-button color="warn">
      Remove
    </button>
    <mat-checkbox
      [checked]="layer.visible"
      (change)="updateLayer(layer, 'visible', $event.checked)"
      class="card-check-box"
    ></mat-checkbox>
  </mat-card-actions>
</mat-card>
