<mat-toolbar>
  <mat-toolbar-row>
    <span>Map demo</span>
    <span class="toolbar-spacer"></span>
    <button (click)="toggleNav.emit()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <button (click)="addLayer()" mat-flat-button color="primary">
      Add layer
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card *ngFor="let layer of layers" class="layer-info-card">
  <mat-card-title>
    {{ layer.tile.name }}
  </mat-card-title>
  <mat-card-content>
    {{ layer.scheme }}
  </mat-card-content>
  <mat-card-actions>
    <button
      (click)="emitAction(layer, actionTypes.RemoveLayer)"
      mat-button
      color="warn"
    >
      Remove
    </button>
    <mat-checkbox
      [checked]="layer.visible"
      (change)="emitAction(layer, actionTypes.ToggleVisibility)"
      class="card-check-box"
    ></mat-checkbox>
  </mat-card-actions>
</mat-card>
