<h1 mat-dialog-title>Configure the layer to add</h1>

<form [formGroup]="addHereLayerForm">
  <div mat-dialog-content>
    <div>
      <mat-form-field>
        <mat-label>Base map tile</mat-label>
        <mat-select required formControlName="tile">
          <mat-option *ngFor="let bmt of options.baseMapTiles" [value]="bmt">
            {{ bmt.name }}
          </mat-option>
        </mat-select>
        <mat-hint align="end">
          {{ addHereLayerForm.controls.tile.value.description }}</mat-hint
        >
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Scheme</mat-label>
        <mat-select required formControlName="scheme">
          <mat-option *ngFor="let scheme of options.schemes" [value]="scheme">
            {{ scheme }}
          </mat-option>
        </mat-select>
        <mat-hint align="end">The 'skin' for the map.</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <mat-label>Opacity</mat-label>
      <mat-slider
        class="example-margin"
        [max]="100"
        [min]="0"
        [step]="1"
        [thumbLabel]="true"
        [value]="addHereLayerForm.controls.opacity.value"
        (change)="onSliderChange($event)"
      >
      </mat-slider>
      <input
        type="number"
        matInput
        placeholder="Opacity"
        formControlName="opacity"
        class="opacity-input"
      />
    </div>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="">Cancel</button>
    <button mat-button (click)="ok()" cdkFocusInitial>Ok</button>
  </div>
</form>
