<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title>
      Route Colors
    </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="expansion-panel-content">
    <div class="color-editor-content">
      <form (ngSubmit)="addRouteColor()">
        <mat-form-field appearance="outline" class="hex-form-field">
          <mat-label>New Color...</mat-label>
          <input
            matInput
            autocomplete="off"
            pattern="^#?([a-fA-F0-9]{6}|[a-fA-F0-9]{3})$"
            [formControl]="colorControl"
          />
          <mat-hint>HEX</mat-hint>
        </mat-form-field>
      </form>
      <mat-chip-list
        class="mat-chip-list-stacked"
        aria-orientation="vertical"
        cdkDropList
        (cdkDropListDropped)="reorderRouteColors($event)"
      >
        <mat-chip
          *ngFor="let route of routeColors$ | async"
          [ngStyle]="{
            'background-color': route.hexValue,
            color: route.textColor
          }"
          [disableRipple]="true"
          cdkDrag
        >
          {{ route.hexValue }}
          <mat-icon
            [style.color]="route.textColor"
            matChipRemove
            (click)="removeRouteColor(route.id)"
            class="remove-icon"
            >cancel</mat-icon
          >
        </mat-chip>
      </mat-chip-list>
    </div>
  </div>
</mat-expansion-panel>
