.color-editor-content {
  padding: 20px;
}

.hex-form {
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}

.remove-icon {
  position: absolute;
  right: 0;
  padding: 10px;
}

mat-chip {
  color: white;
}

.expansion-panel-content {
  max-height: calc(100vh - 414px);
  overflow: auto;
  @media screen and (max-width: 600px) {
    max-height: calc(100vh - 399px);
  }
}
