/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

$sidenav-width: 400px;

.expansion-panel-content {
  max-height: calc(100vh - 325px);
  overflow: auto;

  @media screen and (max-width: 600px) {
    max-height: calc(100vh - 309px);
  }
}

::ng-deep div.mat-expansion-panel-body {
  padding: 0;
}

.align-right {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 16px;
}

button.m-r1 {
  margin-right: 8px;
}
